body {
    margin: 0;
}

.main {
    padding: 2%;
    background: linear-gradient(135deg, #00FF70 0%, #0000EE 100%);
}

.flex1 {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
    padding-left: 4em;
    padding-right: 4em;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: red;
    margin: 1em;
    margin-top: 0;
}

h2 {
    color: orange;
    text-align: center;
    font-size: 2em;
}

li {
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.page {
    width: 50%;
}
a {
    font-size: 1.7em;
}